<div class="container">
  <h5 class="statement-text">Thank You for Registering!</h5>
  <div class="row" *ngIf="authService.userData as user">
    <div class="col-sm-12 statement-text">
      <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
      <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
    </div>
  </div>
  <div class="row statement-text">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary btn-block" (click)="authService.sendVerificationEmail()">
        Resend Verification Email
      </button>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <div class="row statement-text">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <button class="btn btn-danger btn-block" routerLink="/login">

        Back to login
      </button>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
