<div class="modal-header">
  <fa name="circle fa-lg" class="modal-icon"></fa><h5 class="modal-title pull-left info-title-text">{{ title }}</h5>
  <button type="button" class="close pull-right close-modal" aria-label="Close" (click)="modalRef.hide()" tooltip="Close" placement="left">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body info-body-text">
<p>
  A Disc number is the number of discs you wish to reference. If there are
  multiple discs you will need to regsiter each disc separately with its
  appropriate songs.
</p>
