<div class="modal-header">
  <fa name="tags fa-lg" class="modal-icon"></fa><h5 class="modal-title pull-left info-title-text">{{ title }}</h5>
  <button type="button" class="close pull-right close-modal" aria-label="Close" (click)="modalRef.hide()" tooltip="Close" placement="left">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body info-body-text">
<p>
  A label name, or record company, is a brand or trademark
  associated with the marketing of music recordings and music videos.
</p>
<p>
  As an Independent Artist you may not have a Label Name. Mark as N/A if
  there is no label.
</p>
</div>
