<div class="modal-header">
  <fa name="barcode fa-lg" class="modal-icon"></fa><h5 class="modal-title pull-left info-title-text">{{ title }}</h5>
  <button type="button" class="close pull-right close-modal" aria-label="Close" (click)="modalRef.hide()" tooltip="Close" placement="left">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body info-body-text">
  <p>
    International Standard Musical Work Code (ISWC) is a unique, permanent and internationally
    recognized ISO reference number for the identification of musical works.
  </p>
  <p>
    Example: ISWC T-034.524.680-1
  </p>
</div>
