#container {
  width:100%;
}

#left {
  float:left;
  //margin-left: 10px;
  text-align: center;
}

#center {
  display: inline-block;
  margin-top: 5px;
}

#right {
  float:right;
  margin-top: 10px;
}

.header-text {
  opacity: 0.5;
}
