<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5 class="edit-label-style"><fa name="heartbeat" class="header-icon"></fa>Edit Bands By Fans</h5></div>
          <div id="element2"><fa name="times fa-lg" class="action-event" routerLink="/my-bands-by-fans"></fa></div>
        </div>
      </div>
      <hr class="edit-hr-style" />
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
        <div class="form-row">
          <div class="col-sm-3 form-group">
            <label class="edit-label-style">Country</label>
            <input type="text" formControlName="chosenCountry" class="form-control form-control-sm" placeholder="Country" required />
          </div>
          <div class="col-sm-3 form-group">
            <label class="edit-label-style">Town</label>
            <input type="text" formControlName="chosenTown" class="form-control form-control-sm" placeholder="Town" required />
          </div>
          <div class="col-sm-3 form-group">
            <label class="edit-label-style">Price</label>
            <input type="text" formControlName="ticketPrice" class="form-control form-control-sm" placeholder="Price" required />
          </div>
          <div class="col-sm-3 form-group">
            <label class="edit-label-style">Required</label>
            <input type="text" formControlName="ticketsRequired" class="form-control form-control-sm" placeholder="Required" required />
          </div>
        </div>
        <hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-12 form-group">
            <label class="edit-label-style">Description</label>
            <textarea formControlName="bandsbyfansDescription" class="form-control form-control-sm" placeholder="Description" required></textarea>
          </div>
        </div>
        <hr class="edit-hr-style" />
        <div class="form-row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 form-group">
            <button type="submit" class="btn btn-danger btn-block" [disabled]="editForm.invalid">Update</button>
          </div>
          <div class="col-sm-4">

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
