<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/profile" tooltip="Back to Dashboard" placement="right"></fa><fa name="users" class="header-icon"></fa>Members</h5></div>
          <div id="element2" tooltip="Add Member" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-member"></fa></div>
        </div>
      </div>
      <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any Members.</p>
          <fa name="users" class="no-data-icon"></fa>
          <button routerLink="/create-member" class="btn btn-outline-danger btn-block btn-sm">
            Add Member
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="login-box shadow center-components center-row" *ngFor="let item of items">
        <div class="row">
          <div class="col-sm-12">
              <div>
                <p class="album-text">{{item.payload.doc.data().memberName}}</p>
                <p class="album-text">{{item.payload.doc.data().memberInstrument}}</p>
                <p class="album-text">{{item.payload.doc.data().memberDOB}}</p>
                <p class="album-text">{{item.payload.doc.data().memberBio}}</p>
                <p class="album-text">{{item.payload.doc.data().memberImage}}</p>
              </div>
              <div tooltip="Edit Member" placement="left">
                <fa name="pencil" class="edit-icon" (click)="editMember(item)"></fa>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
