<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5 class="create-label-style"><fa name="play" class="header-icon"></fa>Add Video</h5></div>
          <div id="element2" tooltip="Close" placement="left"><fa name="times fa-lg" class="action-event" routerLink="/my-bands-videos"></fa></div>
        </div>
      </div>
      <hr class="create-hr-style" />
      <form [formGroup]="videoForm" (ngSubmit)="onSubmit(videoForm.value)">
        <div class="form-row">
          <div class="col-sm-4 form-group">
            <label class="create-label-style">Title</label>
            <input type="text" formControlName="videoTitle" class="form-control form-control-sm" placeholder="Title" required />
          </div>
          <div class="col-sm-4 form-group">
            <label class="create-label-style">URL</label>
            <input type="text" formControlName="videoURL" class="form-control form-control-sm" placeholder="URL" required />
          </div>

          <div class="col-sm-4 form-group">
            <label class="create-label-style">Published Date</label>
            <input type="text" formControlName="publishedDate" class="form-control form-control-sm" placeholder="Published Date" required />
          </div>
        </div>
        <hr class="create-hr-style" />
        <div class="form-row">
          <div class="col-sm-12 form-group">
            <label class="create-label-style">Description</label>
            <textarea formControlName="videoDescription" class="form-control form-control-sm" placeholder="Description" required></textarea>
          </div>
        </div>
        <hr class="create-hr-style" />
        <div class="form-row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="videoForm.invalid">Create</button>
          </div>
          <div class="col-sm-4">

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
