<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/profile" tooltip="Back to Dashboard" placement="right"></fa><fa name="play" class="header-icon"></fa>Videos</h5></div>
          <div id="element2" tooltip="Add Video" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-video"></fa></div>
        </div>
      </div>
        <hr />
      <!-- No data shows when their is no vi data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any videos.</p>
          <fa name="play" class="no-data-icon"></fa>
          <button routerLink="/create-video" class="btn btn-outline-danger btn-block btn-sm">
            Add Video
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="login-box shadow center-components center-row" *ngFor="let item of items">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <vg-player>
                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                </video>
              </vg-player>
                <!--<img class="align-self-start mr-5 img-thumbnail rounded-circle">-->
              <p class="album-text">{{item.payload.doc.data().videoTitle}}</p>
              <div tooltip="Edit Video" placement="left">
                <fa name="pencil" class="edit-icon" (click)="editVideo(item)"></fa>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
