<h3 class="statement-text">Your Band. Your Music. Everywhere.</h3>
<div class="container">
  <p class="site-text">Log in to Your RadioWRX Band Account</p>
  <div class="row login-box">
    <div class="col-sm-6">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="col-sm-12">
          <p class="site-text">No RadioWRX Band account? <a routerLink="/register">Register</a></p>
          <p class="site-text"> <a routerLink="/forgot-password">Forgot Password?</a></p>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h5>RadioWRX Bands enjoy...</h5>
      <ul>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
      </ul>
    </div>
  </div>
</div>
