<h3 class="statement-text">Your Band. Your Music. Everywhere.</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-md-4 login-box shadow">
      <p class="site-text">Log in to Your RadioWRX Account</p>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" placeholder="Email" #userName required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" placeholder="Password" #userPassword required>
        </div>
        <button class="btn btn-primary btn-block" (click)="authService.login(userName.value, userPassword.value)">Login</button>
        <div class="col-sm-12">
          <p class="site-text">No RadioWRX Account? <a routerLink="/register">Register</a></p>
          <p class="site-text"> <a routerLink="/forgot-password">Forgot Password?</a></p>
        </div>
      </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
