<div class="modal-header">
  <fa name="pencil fa-lg" class="modal-icon"></fa><h5 class="modal-title pull-left info-title-text">{{ title }}</h5>
  <button type="button" class="close pull-right close-modal" aria-label="Close" (click)="modalRef.hide()" tooltip="Close" placement="left">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body info-body-text">
<p>
  Provide the writers of the music and lyrics
  for this track. Be sure to add a semi-colon after
  each name.
</p>
<p>
  Example: John Smith; Jane Smith
</p>
</div>
