<div class="modal-header">
  <fa name="book fa-lg" class="modal-icon"></fa><h5 class="modal-title pull-left info-title-text">{{ title }}</h5>
  <button type="button" class="close pull-right close-modal" aria-label="Close" (click)="modalRef.hide()" tooltip="Close" placement="left">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body info-body-text">
<p>
  A third-party publisher that – for a fixed term – controls all licensing
  and the collection of publishing revenue streams on behalf of a composer
  or copyright owner.
</p>
<p>
  As an Independent Artist you may not have a publisher. Mark as N/A if
  there is no publisher.
</p>
</div>
