<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <h3 class="statement-text">Your Band. Your Music. Everywhere.</h3>
    </div>
    <div class="col-sm-2">

    </div>

  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="row now-playing-style">
        <div class="row">
          <div class="col-sm-12 carousel-header">
            <h5>Now Playing</h5>
          </div>
          <div class="col-sm-4 no-padding">
            <img src="assets/images/this_day_burns.jpg" class="current-song-image" />
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <table align="center">
                  <tr>
                    <td>
                      <p>
                        This Day Burns
                      </p>
                    </td>
                    <td align="center">
                      <p>
                        -
                      </p>
                    </td>
                    <td>
                      <p>
                        Mistakes Don't Lie
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-sm-4">
      <div class="row carousel-style">
        <div class="col-sm-12 table-no-padding">
          <div class="carousel-header">
            <table>
              <tr>
                <td width="100%">
                  Videos
                </td>
                <td align="right" width="100%">
                  <a href="#" id="link"><fa name="angle-right fa-2x"></fa></a>
                </td>
              </tr>
            </table>
            <!--<a id="link" href="#"><fa name="angle-right fa-sm"></fa></a>-->
          </div>
        </div>

        <carousel class="carousel">
          <slide>
            <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
      <div class="row carousel-style">
        <div class="col-sm-12 table-no-padding">
          <div class="carousel-header">
            <table>
              <tr>
                <td width="100%">
                  Bands
                </td>
                <td align="right" width="100%">
                  <a href="#" id="link"><fa name="angle-right fa-2x"></fa></a>
                </td>
              </tr>
            </table>
            <!--<a id="link" href="#"><fa name="angle-right fa-sm"></fa></a>-->
          </div>
        </div>
        <!--<div class="col-sm-3 carousel-navigation">
          <a id="link" href="#"><fa name="angle-right fa-sm"></fa></a>
        </div>-->
        <carousel>
          <slide>
            <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
      <div class="row carousel-style">
        <div class="col-sm-12 table-no-padding">
          <div class="carousel-header">
            <table>
              <tr>
                <td width="100%">
                  Events
                </td>
                <td align="right" width="100%">
                  <a href="#" id="link"><fa name="angle-right fa-2x"></fa></a>
                </td>
              </tr>
            </table>
            <!--<a id="link" href="#"><fa name="angle-right fa-sm"></fa></a>-->
          </div>
        </div>
        <!--<div class="col-sm-3 carousel-navigation">
          <a class="carousel-navigation"  id="link" href="#"><fa name="angle-right fa-sm"></fa></a>
        </div>-->
        <carousel>
          <slide>
            <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
