<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/my-bands-music"></fa><fa name="headphones" class="header-icon"></fa>{{this.item.albumTitle}}</h5></div>
          <div id="element2"><fa name="plus fa-lg" class="action-event" routerLink="/create-song"></fa></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2">
          <fa name="headphones" class="header-icon"></fa>
        </div>
        <div class="col-sm-10">
          <p class="album-text">{{this.item.albumTitle}}</p>
          <p class="album-text">{{this.item.albumGenre}} - {{this.item.yearReleased}}</p>
          <!--<p class="album-text">{{this.item.numberOfTracks}}</p>
          <p class="album-text">{{this.item.albumDuration}} minutes</p>-->
        </div>
      </div>
      <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any songs.</p>
          <fa name="headphones" class="headphones"></fa>
          <button routerLink="/create-album" class="btn btn-outline-danger btn-block btn-sm">
            Add Song
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <app-view-song-list></app-view-song-list>
    </div>
  </div>
</div>
