<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/profile" tooltip="Back to Dashboard" placement="right"></fa><fa name="calendar" class="header-icon"></fa>Events</h5></div>
          <div id="element2" tooltip="Add Event" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-event"></fa></div>
        </div>
      </div>
    </div>
    <hr />
    <!-- No data shows when their is no student data available -->
    <div class="row" *ngIf="noData">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4 text-center">
        <p class="nodata-msg">You have not added any Events.</p>
        <fa name="calendar" class="no-data-icon"></fa>
        <button routerLink="/create-member" class="btn btn-outline-danger btn-block btn-sm">
          Add Event
        </button>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="login-box shadow center-events" *ngFor="let item of items">
      <div class="row">
        <div class="col-sm-6">
          <p class="album-text">{{item.payload.doc.data().eventTitle}}</p>
          <p class="album-text">{{item.payload.doc.data().eventVenue}}</p>
          <p class="album-text">{{item.payload.doc.data().eventStartTime}}</p>
          <p class="album-text">{{item.payload.doc.data().eventPrice}}</p>
          <p class="album-text">{{item.payload.doc.data().eventPostcode}}</p>
          <p class="album-text">{{item.payload.doc.data().availableTickets}}</p>
          <p class="album-text">{{item.payload.doc.data().eventDescription}}</p>
          <p class="album-text">{{item.payload.doc.data().eventDate}}</p>
          <div tooltip="Edit Event" placement="left">
            <fa name="pencil" class="edit-icon" (click)="editEvent(item)"></fa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
