<div class="container-fluid" no-padding>
  <div class="row login-box shadow" no-padding>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="chevron-left" class="chevron-left-style" routerLink="/my-bands-music" tooltip="Back to Music" placement="right"></fa><fa name="headphones" class="header-icon"></fa>{{this.item.albumTitle}}</h5></div>
          <div id="element2" tooltip="Add Song" placement="left"><fa name="plus fa-lg" class="action-event" routerLink="/create-song"></fa></div>
        </div>
      </div>
      <hr />
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not added any Songs.</p>
          <fa name="music" class="no-data-icon"></fa>
          <button routerLink="/create-song" class="btn btn-outline-danger btn-block btn-sm">
            Add Song
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div *ngFor="let item of items">
        <div class="row">
          <div class="col-sm-12">
            <div id="container">
              <div id="left" (click)="playSong()">
                <fa name="play" class="header-icon"></fa>
              </div>
              <div id="center">
                <div (click)="playSong()">
                  <p class="album-text">{{item.payload.doc.data().songTitle}}</p>
                </div>
              </div>
              <div id="right" class="edit-icon" (click)="editSong(item)" tooltip="Edit Song" placement="left">
                <fa name="pencil"></fa>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
