#container {
  width:100%;
}

#left {
  float:left;
  //margin-left: 10px;
  text-align: center;
}

#center {
  display: inline-block;
  margin-top: 5px;
}

#right {
  float:right;
  margin-top: 10px;
}

.header-heartbeat {
  opacity: 0.5;
  color: red;
  margin-right: 20px;
}

.header-text {
  opacity: 0.5;
}

.heartbeat {
  font-size: 200px !important;
  opacity: 0.5;
  color: red;
}

.add-bandsbyfans {
  color: red;
  cursor: pointer;
  opacity: 0.5;
}
