
<h3 class="statement-text">Your Band. Your Music. Everywhere.</h3><div class="container">
<div class="container-fluid">
  <div class="row login-box">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle">
        </div>
        <div class="col-sm-7">
          <h5><strong></strong></h5>
          <p>User ID: <strong></strong></p>
          <p>Email: <strong></strong></p>
          <p>Email Verified: <strong></strong></p>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary btn-block" routerLink="/my-bands-music">Music</button>
          <button class="btn btn-primary btn-block" routerLink="/my-bands-events">Events</button>
          <button class="btn btn-primary btn-block">Videos</button>
          <button class="btn btn-primary btn-block">CD Funds</button>
          <button class="btn btn-primary btn-block">Private Parties</button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3 spacer">
          <button class="btn btn-danger btn-block" routerLink="/edit-user">
            Edit
          </button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary btn-block" routerLink="/main-page">
            Log Out
          </button>
        </div>
        <div class="col-sm-3">

        </div>
      </div>
    </div>
  </div>
</div>
