<h3 class="statement-text">Your Band. Your Music. Everywhere.</h3>
<div class="container" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <h5 class="statement-text">Profile</h5>
      <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">No profile created yet!</p>
          <button routerLink="/create-profile" class="btn btn-primary btn-block">
            Create Profile
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div *ngFor="let profile of Profile">
        <div class="row">
          <div class="col-sm-2">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle">
          </div>
          <div class="col-sm-7">
            <p>Artist: {{profile.artistName}}</p>
            <p>Genre: {{profile.artistGenre}}</p>
            <p>Year Formed: {{profile.yearFormed}}</p>
            <p>Address: {{profile.addressOne}}</p>
            <p>Address: {{profile.addressTwo}}</p>
            <p>Town: {{profile.artistTown}}</p>
            <p>Country: {{profile.artistCountry}}</p>
            <p>Post Code: {{profile.postCode}}</p>
            <p>Contact: {{profile.contactNumber}}</p>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary btn-block" routerLink="/my-bands-music">Music</button>
            <button class="btn btn-primary btn-block" routerLink="/my-bands-members">Band Members</button>
            <button class="btn btn-primary btn-block" routerLink="/my-bands-events">Events</button>
            <button class="btn btn-primary btn-block" routerLink="/my-bands-videos">Videos</button>
            <button class="btn btn-primary btn-block" routerLink="/my-bands-cd-funds">CD Funds</button>
            <button class="btn btn-primary btn-block" routerLink="/my-bands-private-parties">Private Parties</button>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-1">

          </div>
          <div class="col-sm-3 spacer">
            <button type="submit" class="btn btn-danger btn-block" routerLink="/edit-profile/{{profile.$key}}">
              Edit
            </button>
          </div>
          <div class="col-sm-3 spacer">
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary btn-block" (click)="logOut()">
              Log Out
            </button>
          </div>
          <div class="col-sm-1">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
