<h3 class="statement-text">Your Band. Your Music. Everywhere.</h3>
<div class="container-fluid" no-padding>
  <div class="row login-box shadow">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="element1"><h5><fa name="user" class="header-profile"></fa>Profile</h5></div>
          <!--<div id="element2"><fa name="pencil fa-lg" class="header-edit" routerLink="/edit-profile"></fa></div>-->
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div id="icon1">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-music"><fa name="headphones" class="nav-icons"></fa></button>
          </div>
          <div id="icon2">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-members"><fa name="users" class="nav-icons"></fa></button>
          </div>
          <div id="icon3">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-events"><fa name="calendar" class="nav-icons"></fa></button>
          </div>
          <div id="icon4">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-videos"><fa name="play" class="nav-icons"></fa></button>
          </div>
          <div id="icon5">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-cd-funds"><fa name="dollar" class="nav-icons"></fa></button>
          </div>
          <div id="icon6">
            <button class="btn btn-outline-danger btn-block" routerLink="/my-bands-by-fans"><fa name="heartbeat" class="nav-icons"></fa></button>
          </div>
        </div>
      </div>
      <hr />
      <!-- No data shows when their is no student data available -->
      <div class="row" *ngIf="noData">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <p class="nodata-msg">You have not created a profile.</p>
          <button routerLink="/create-profile" class="btn btn-primary btn-block">
            Create Profile
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div *ngFor="let item of items">
        <div class="row">
          <div class="col-sm-2">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle">
          </div>
          <div class="col-sm-7">
            <p>Artist: {{item.payload.doc.data().artistName}}</p>
            <p>Genre: {{item.payload.doc.data().artistGenre}}</p>
            <p>Year Formed: {{item.payload.doc.data().yearFormed}}</p>
            <p>Address: {{item.payload.doc.data().addressOne}}</p>
            <p>Address: {{item.payload.doc.data().addressTwo}}</p>
            <p>Town: {{item.payload.doc.data().artistTown}}</p>
            <p>Country: {{item.payload.doc.data().artistCountry}}</p>
            <p>Post Code: {{item.payload.doc.data().postCode}}</p>
            <p>Contact: {{item.payload.doc.data().contactNumber}}</p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-1">

          </div>
          <div class="col-sm-3 spacer">
            <button type="submit" class="btn btn-danger btn-block" (click)="viewProfile(item)">
              Edit
            </button>
          </div>
          <div class="col-sm-3 spacer">
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary btn-block" (click)="logOut()">
              Log Out
            </button>
          </div>
          <div class="col-sm-1">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
