<h3 class="statement-text">Your Band. Your Music. Everywhere.</h3>
<div class="container-fluid" no-padding>
  <div class="row">
    <div class=" col-sm-12">
      <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 login-box shadow">
          <p class="site-text">
            Enter email address to reset your password.
          </p>
          <div class="form-group">
            <input type="email" class="form-control" form-control-name="email" placeholder="Email" #passwordResetEmail required>
          </div>
          <button class="btn btn-danger btn-block" (click)="authService.forgotPassword(passwordResetEmail.value)">Reset Password</button>
          <div class="col-sm-12">
            <p class="site-text">I remembered! <a routerLink="/login">Login</a></p>
          </div>
        </div>
        <div class="col-sm-4">

        </div>
      </div>
    </div>
  </div>
</div>
