/* You can add global styles to this file, and also import other style files */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  p {
    font-size: 12px;
    margin: 0;
    color: #ffffff;
  }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  p {
    font-size: 12px;
    margin: 0;
    color: #ffffff;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  p {
    color: #ffffff;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  p {
    color: #ffffff;
  }
}

#link {
  color: #ffffff;
  position: relative;
  margin-right: 1px;
}

.carousel-navigation {
  text-align: right !important;
}

.carousel-style {
  border-radius: 10px;
  border: 1px solid black;
  margin: 2px;
  background-color: black;
  margin-top: 5px;
  margin-right: 0;
}

.now-playing-style {
  border-radius: 10px;
  border: 1px solid black;
  margin: 2px;
  background-color: black;
  margin-top: 5px;
  margin-right: 0;
}

.carousel-header {
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 0;
  text-align:  !important;
  font-size: 14px;
}

.carousel {
  margin: 2px;
}

.statement-text {
  text-align: center;
  margin: 10px;
}

.footer {
  position: relative;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

.current-song-image {
  display: block;
  width: 100%;
  margin: 0;
}

.no-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px
}

.table-no-padding {
  padding: 0px;
}
