/* You can add global styles to this file, and also import other style files */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}

.vertical {
  border-left: 1px solid #ccc;
  height: 200px;
  margin-top: 50px
}

.login-box {
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.site-text {
  font-size: 14px;
  text-align: center;
  margin-top: 15px
}

#link {
  color: #ffffff;
  position: relative;
  margin-right: 1px;
}

.carousel-navigation {
  text-align: right;
}

.carousel-style {
  border-radius: 10px;
  border: 1px solid black;
  margin: 2px;
  background-color: black;
  margin-top: 5px;
  margin-right: 0;
}

.now-playing-style {
  border-radius: 10px;
  border: 1px solid black;
  margin: 2px;
  background-color: black;
  margin-top: 5px;
  margin-right: 0;
}

.carousel-header {
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 0;
  text-align:  !important;
  font-size: 14px;
}

.carousel {
  margin: 2px;
}

.statement-text {
  text-align: center;
  margin: 10px;
}

.footer {
  position: relative;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

.current-song-image {
  display: block;
  width: 100%;
  margin: 0;
}

.no-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px
}

.table-no-padding {
  padding: 0px;
}

.center-text {
  text-align: center;
}

.create-hr-style {
  border-color: blue;
}

.edit-hr-style {
  border-color: red;
}

.create-label-style {
  color: blue;
}

.edit-label-style {
  color: red;
}

.create-header {
  color: blue;
}

.edit-header {
  color: red;
}

.album-text {
  font-size: 14px;
  margin: 0px;
}

.header-calendar {
  opacity: 0.5;
  color: red;
  margin-right: 20px;
}
.action-event {
  color: red;
  cursor: pointer;
  opacity: 0.5;
}

#element1 {
  display:inline-block;
  float: left;
  }
#element2 {
  display:inline-block;
  float: right;
}
